<div class="navigation-panel">
    <div class="page-horizontal-margins display-flex-wrap container-center-horizontally align-items-center">
        <a class="{% if nav == 'home' %}menu-link-active{% else %}menu-link{% endif %}" href="/">Home</a>
        <a class="{% if nav == 'about' %}menu-link-active{% else %}menu-link{% endif %}" href="about.html">About</a>
        <a class="{% if nav == 'uuid-generator' %}menu-link-active{% else %}menu-link{% endif %}"
            href="uuid-generator.html">UUID Generator</a>
        <a class="{% if nav == 'json-minifier' %}menu-link-active{% else %}menu-link{% endif %}"
            href="json-minifier.html">JSON Minifier</a>
        <a class="{% if nav == 'old-tools' %}menu-link-active{% else %}menu-link{% endif %}" href="old-tools.html">Old tools</a>
    </div>
</div>
