---
nav: about
permalink: /about.html
---
{% include "head.liquid" %}

<body>
    {% include "nav.liquid" %}
    {% include "header.liquid" %}

    <div class="container-content width-fit-content" style="margin-top: 64px;">
        <div class="display-flex width-fit-content">
            <div class="content-line"></div>
            <div class="content-text-block">
                <h3>About Me</h3>
                <p>An Engineering Manager and Software Engineer with 10+ years of experience specializing in backend and
                    mobile development. Committed to improving team efficiency through hands-on leadership, clear
                    communication, and enhancing product delivery through process improvements. Experienced in various
                    software development methodologies such as Scrum, Kanban, and Waterfall.</p>
                <p>Expertise in Java, Kotlin, Go, Spring Framework, PostgreSQL, Docker, Kubernetes, and microservices
                    architecture. Led automation of technical processes, designed extendable APIs, and built scalable
                    solutions and reliable integrations. Passionate about mentoring engineers, promoting engineering
                    best practices, code quality, and team collaboration to align technology with business goals.</p>
            </div>
        </div>
    </div>

    {% include "script-jquery.liquid" %}
    <script type="module" src="/assets/scripts/index.js"></script>
</body>

</html>