:root {
    --content-horizontal-margin-large: 20%;
    --content-wide-horizontal-margin-large: 8%;
    --content-horizontal-margin-medium: 32px;
    --content-horizontal-margin-small: 16px;

    --color-dark: #222831;
    --color-dark2: #393E46;
    --color-primary: #EEEEEE;
    --color-primary-transparent: #EEEEEE66;
    --color-accent: #FFD369;
    --color-gray: #929292;
    --color-invisible: #92929250;
    --text-primary-font-family: "Ubuntu Mono";

    --color-effect-valid: #005EB5;
    --color-effect-invalid: #ff5959;

    background-color: var(--color-dark);
    color: var(--color-primary);
    font-family: var(--text-primary-font-family), serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 32px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: 900;
}

h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
}

p {
    white-space: normal;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

hr {
    border: 1px solid var(--color-invisible);
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-accent);
}

.text-dark {
    color: var(--color-dark);
}

.text-gray {
    color: var(--color-gray);
}

.background-secondary {
    background-color: var(--color-accent);
}

@media (width >=860px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-large);
        margin-right: var(--content-horizontal-margin-large);
    }
}

@media (width < 860px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-medium);
        margin-right: var(--content-horizontal-margin-medium);
    }
}

@media (width < 480px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-small);
        margin-right: var(--content-horizontal-margin-small);
    }
}

@media (width >=860px) {
    .container-content-wide {
        margin-left: var(--content-wide-horizontal-margin-large);
        margin-right: var(--content-wide-horizontal-margin-large);
    }
}

@media (width < 860px) {
    .container-content-wide {
        margin-left: var(--content-horizontal-margin-medium);
        margin-right: var(--content-horizontal-margin-medium);
    }
}

@media (width < 480px) {
    .container-content-wide {
        margin-left: var(--content-horizontal-margin-small);
        margin-right: var(--content-horizontal-margin-small);
    }
}

.container-center-horizontally {
    display: flex;
    justify-content: center;
}

.page-horizontal-margins {
    margin-left: 12px;
    margin-right: 12px;
}

.navigation-panel {
    background-color: var(--color-dark2);
    padding: 16px 0px;
    z-index: 99;
    position: sticky;
    top: 0;
}

.menu-link,
.menu-link-active {
    font-size: medium;
}

.menu-link {
    color: var(--color-accent);
    padding: 6px 14px;
    transition: all .2s ease-in-out;
}

.menu-link:hover,
.menu-link:active {
    color: var(--color-primary);
    transform: scale(1.1);
}

.menu-link-active {
    height: fit-content;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-primary-transparent);
    border-radius: 4px;
    padding: 5px 13px;
    color: var(--color-primary);
    transition: all .2s ease-in-out;
}

.menu-link-active:hover,
.menu-link-active:active {
    border-color: var(--color-primary);
    transform: scale(1.1);
}

/* Content */

.content-line {
    background-color: var(--color-primary);
    width: 3px;
    opacity: 0.3;
}

@media (width < 860px) {
    .content-line {
        display: none;
    }
}

.content-text-block {
    flex: 1;
    margin: 16px 36px 16px 32px;
}

@media (width < 860px) {
    .content-text-block {
        margin-left: 0;
        margin-right: 0;
    }
}

.content-text-block>p {
    margin-top: 32px;
    font-size: 1.2rem;
}

/* Common properties */

.display-block {
    display: block;
}

.display-flex,
.display-flex-wrap,
.display-flex-column {
    display: flex;
}

.display-flex-wrap {
    flex-wrap: wrap;
}

.display-flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.width-fit-content {
    width: fit-content;
}

.width-100 {
    width: 100%;
}

.height-fit-content {
    height: fit-content;
}

.text-bold {
    font-weight: bold;
}

/* Index page */

.index-social-container {
    width: fit-content;
    margin-right: 32px;
    margin-top: 12px;
    opacity: 0.7;
    transition: all .2s ease-in-out;
}

.index-social-container:hover,
.index-social-container:active {
    opacity: 1;
    transform: scale(1.1);
}

.index-social-icon {
    width: 20px;
    height: 20px;
}

.index-social-text {
    margin-left: 8px;
    font-size: 1rem;
}

.index-menu-icon {
    margin: 8px 0 8px 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s, visibility 0.7s;
}

.index-menu-icon {
    width: 62px;
    height: 62px;
}

@media (width < 480px) {
    .index-menu-icon {
        width: 24px;
        height: 24px;
    }
}

.index-menu-a {
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF00;
    border-radius: 4px;
    transition: border-color 0.7s;
}

.index-menu-a:hover,
.index-menu-a:active {
    border-color: var(--color-primary-transparent);
}

.index-menu-a:hover .index-menu-icon,
.index-menu-a:active .index-menu-icon {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.7s, visibility 0.7s;
}

.index-menu-text-container-with-icon {
    margin: 32px 32px 32px 16px
}

.index-menu-text-container-without-icon {
    margin: 32px 32px 32px 94px
}

@media (width < 480px) {
    .index-menu-text-container-without-icon {
        margin-left: 56px;
    }
}

.index-menu-line {
    margin-left: 94px;
}

@media (width < 480px) {
    .index-menu-line {
        margin-left: 56px;
    }
}

.index-menu-a p {
    color: var(--color-gray);
}

#index-header-welcome-software-developer-block {
    padding: 6px 12px;
}

@media (width < 480px) {
    #index-header-welcome-software-developer-text {
        font-size: 1.6rem;
    }
}

#index-header-welcome-software-developer-cursor-block {
    background-color: var(--color-dark);
    width: 12px;
    height: 2rem;
    margin-left: 8px;
}

/* JSON Minifier page*/

.json-minifier-container-textarea {
    flex: 1 300px;
}

.json-minifier-textarea {
    resize: none;
    min-height: 20em;
    height: 60vh;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0);
    outline-color: var(--color-effect-valid);
}

.json-minifier-textarea:focus {
    box-shadow: 0 0 10px var(--color-effect-valid);
}

.json-minifier-textarea-error {
    border: 2px solid var(--color-effect-invalid);
    outline-color: var(--color-effect-invalid);
}

.json-minifier-textarea-error:focus {
    box-shadow: 0 0 10px var(--color-effect-invalid);
}
