:root {
    --content-horizontal-margin-large: 20%;
    --content-horizontal-margin-medium: 32px;
    --content-horizontal-margin-small: 16px;

    --color-dark: #1F223A;
    --color-secondary: #FFAE12;
    --color-primary-transparent: rgba(255, 255, 255, 0.4);
    --color-primary: #FFFFFF;
    --text-primary-font-family: "Ubuntu Mono";
    --text-social-color: #33FFFFFF;

    background-color: var(--color-dark);
    color: var(--color-primary);
    font-family: var(--text-primary-font-family);
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 16px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: bold;
}

p {
    white-space: normal;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.text-dark {
    color: var(--color-dark);
}

.text-bold {
    font-weight: bold;
}

.background-secondary {
    background-color: var(--color-secondary);
}

@media (width >=860px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-large);
        margin-right: var(--content-horizontal-margin-large);
    }
}

@media (width < 860px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-medium);
        margin-right: var(--content-horizontal-margin-medium);
    }
}

@media (width < 480px) {
    .container-content {
        margin-left: var(--content-horizontal-margin-small);
        margin-right: var(--content-horizontal-margin-small);
    }
}

.container-flex {
    display: flex;
}

.container-flex-align-center {
    align-items: center;
}

.container-flex-wrap {
    flex-wrap: wrap;
}

.container-center-horizontaly {
    display: flex;
    justify-content: center;
}

.container-width-fit-content {
    width: fit-content;
}

.container-height-fit-content {
    height: fit-content;
}

.menu-link {
    font-size: medium;
    color: var(--color-secondary);
    padding: 6px 14px;
}

.menu-link:hover {
    color: var(--color-primary);
}

.menu-link-active {
    height: fit-content;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-primary-transparent);
    border-radius: 4px;
    padding: 4px 12px;
    font-size: medium;
    color: var(--color-primary);
}

.menu-link-active:hover {
    border-color: var(--color-primary);
}

.social-container {
    width: fit-content;
    margin-right: 32px;
    margin-top: 12px;
    opacity: 0.7;
}

.social-container:hover {
    opacity: 1;
}

.social-icon {
    width: 20px;
    height: 20px;
}

.social-text {
    margin-left: 8px;
    font-size: 1rem;
}

.content-line {
    background-color: var(--color-primary);
    width: 3px;
    opacity: 0.3;
}

@media (width < 860px) {
    .content-line {
        display: none;
    }
}

.content-text-block {
    flex: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 32px;
    margin-right: 36px;
}

@media (width < 860px) {
    .content-text-block {
        margin-left: 0;
        margin-right: 0;
    }
}

.content-text {
    margin-top: 32px;
    font-size: 1.2rem;
}

#header-welcome-software-developer-block {
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#header-welcome-software-developer-cursor-block {
    background-color: var(--color-dark);
    width: 12px;
    height: 2rem;
    margin-left: 8px;
}